#
tmp/

# OpenTREP
/pyopentrep.log
/opentrep-*.log

# CMake / build
/build2/
/.tox/
/MANIFEST
/MANIFEST.in

# Python
/Pipfile.lock
/_skbuild/
/build/
/dist/
/.venv/
.ipynb_checkpoints/
*.py[cod]
__pycache__/
/requirements.txt
/build/
*.egg-info/
typings/
/poetry.lock
/uv.lock
.python-version

