<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
 <title>Page unavailable</title>
</head>

<body>
 <h1>Page unavailable</h1>

 <p>Sorry, but the requested page is unavailable due to a server hiccup.</p>

 <p>{{error_msg}}</p>

 <p>Our engineers have been notified, so please check back later.</p>

 <p>
   Examples of valid searches are as following:<br/>
   <ul>
	 <li><a href="{% url 'search:index' %}?q=sfo airport">{% url 'search:index' %}?q=sfo airport</a></li>
	 <li><a href="{% url 'search:index' %}?q=cdg">{% url 'search:index' %}?q=Nice Airport</a></li>
	 <li><a href="{% url 'search:index' %}?q=jfk lax atl">{% url 'search:index' %}?q=jfk lax atl</a></li>
	 <li><a href="{% url 'search:index' %}?q=buenos aeres rio de janero rekjavik">{% url 'search:index' %}?q=buenos aeres rio de janero rekjavik</a></li>
   </ul>
 </p>

</body>

</html>
