{% extends "search/base.html" %}
{% load staticfiles %}

{% block style %}
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { margin-left: auto; text-align:center; margin-right: auto; width:50%; height:50% }
  </style>
{% endblock %}
{% block jscript %}
  <script type="text/javascript"
          src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">
    var map;
    function initialize() {
      var placePoint = new google.maps.LatLng ({{ coord_for_GMap_center.lat }},
	                                           {{ coord_for_GMap_center.lon }});
      var myOptions = {
        zoom: {{zoom_level}},
        center: placePoint,
        mapTypeId: google.maps.MapTypeId.{{map_type_value}}
      }
      map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
    
      // Markers and map bounds
      var bounds = new google.maps.LatLngBounds();
{% for marker in list_markers %}
      placePoint = new google.maps.LatLng ({{ marker.lat }}, {{ marker.lon }});
      var marker = new google.maps.Marker ({ 
        position: placePoint,
        title: "{{ marker.name }}",
        map: map,
      });

      //
      bounds.extend (placePoint);
{% endfor %}

      // Fit the map with the newly calculated bounds
{% if nbOfMarkers >= 2 %}
      map.fitBounds (bounds);
{% endif %}

      // Polyline
      var flightPlanCoordinates = [
{% for marker in list_markers %}
        new google.maps.LatLng ({{ marker.lat }}, {{ marker.lon }}),
{% endfor %}
      ];

      var flightPath = new google.maps.Polyline({
        path: flightPlanCoordinates,
        strokeColor: "#FF0000",
        strokeOpacity: 1.0,
        strokeWeight: 2
      });

      flightPath.setMap (map);
    }
  </script>
{% endblock %}

{% block title %} Travel Search {% endblock %}

{% block bodyclass %}body{% endblock %}
{% block bodyoptions %}onload="initialize()"{% endblock %}

{% block content %}

    <center>
      <br clear="all" id="lgpd">
      <img id="logo" alt="Travel Search" height="110" width="276"
           src="{% static "search/icons/airports.gif" %}">
      <br><br>
      <form action="{% url search:search query_string %}" method="post"
			name="search_form">
		{% csrf_token %}
        <table cellpadding="0" cellspacing="0">
          <tr valign="top">
            <td width="25%">&nbsp;</td>
            <td align="center" nowrap>
              <input type="text" name="data" autocomplete="off"
					 maxlength="2048" size="55" title="Airport Search" 
					 value="{{ query_string }}" class="lst">
			  <input type="hidden" name="zoom" value="{{zoom_level}}">
			  <input type="hidden" name="map_type" value="{{map_type_value}}">
              <br>
              <input name="query_text" type="submit" value="Search Airports"
					 class="lsb">
              <input name="show_airport" type="submit" value="Show an Airport!"
					 class="lsb">
              <input name="show_itinerary" type="submit" 
					 value="Show an Itinerary!" class="lsb">
            </td>
            <td nowrap width="25%" align="left">&nbsp;</td>
          </tr>
        </table>
      </form>
    </center>

    <br><br>

	<center>
	  <p>Original query string: <em>{{query_string}}</em></p>

	  <p><font size="-1">
{% for place_pair in place_pair_list %}
      {{place_pair.dep.name_utf}} ({{place_pair.dep.city_name_utf}}) 
  {% if place_pair.dist != "0" %} -- {{place_pair.dist}} km -- {% endif %}
  {% if forloop.last and place_pair.dist != "0" %}
      {{place_pair.arr.name_utf}} ({{place_pair.arr.city_name_utf}}) ----
      Total: {{dist_total}} km
  {% endif %}
{% endfor %}
	  </font></p>

	  <p><font size="-2">
{% for place_pair in place_pair_list %}
	  <b>{{place_pair.dep.tvl_code.code}}-{{place_pair.dep.icao_code.code}}-{{place_pair.dep.geoname_id.id}}</b>
	  ({{place_pair.dep.page_rank.rank}}) / ({{place_pair.dep.coord.latitude}}, {{place_pair.dep.coord.longitude}})
  {% if not forloop.last or place_pair.dist != "0" %} -- {% endif %}
  {% if forloop.last and place_pair.dist != "0" %}
	  <b>{{place_pair.arr.tvl_code.code}}-{{place_pair.arr.icao_code.code}}-{{place_pair.arr.geoname_id.id}}</b>
	  ({{place_pair.arr.page_rank.rank}}) / ({{place_pair.arr.coord.latitude}}, {{place_pair.arr.coord.longitude}}) -- 
  {% endif %}
{% endfor %}
	  </font></p>
    </center>

	<!-- The following HTML <div> (Google Maps API v3) must not be enclosed by
		 <center> tags, as it would not be able to display correctly otherwise.
	-->
	<div id="map_canvas"
		 style="margin-left: auto; text-align:center; margin-right: auto; width:50%; height:50%">
	</div>

    <center>
      <p><font size="-2">
        &copy;2009-2013 - <a href="#">Privacy</a> - 
        <a href="#">About Search-Airports</a>
      </font>
    </center>

{% endblock %}

